.main_footer {
  width: 1440px;
  max-width: 90%;
  margin: 0 auto;
	padding: 2.5em 0;
	text-align: center;
  border-top: 1px solid;
}

.main_footer .logo {
	text-transform: uppercase;
	font-size: 1.15em;
	font-weight: 700;
}

.logo span {
	font-weight: 300;
	color: $highlight;
}

.copyright {
	color: $secondary;
	font-size: .75em;
	margin: 0;
}
.info {
  display: inline;
}

.info .span {
	color: $secondary;
	font-size: .75em;
	text-decoration: none;
	margin: 0 .5em;
}
